@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --success-color: #37b772;
}
.btn-outline-success {
  border: 1px solid var(--success-color) !important;
}
.btn-outline-success:hover {
  background-color: var(--success-color) !important;
}
.btn-success {
  background-color: var(--success-color) !important;
  color: white !important;
}
.btn-success:hover {
  background-color: #2ca364 !important;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  list-style: none;
  text-decoration: none;
}
p {
  margin: 0px !important;
  padding: 0px !important;
}
a {
  text-decoration: none !important;
}
/*--------------------------Navbar---------------------------- */
.navbar {
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 13px 0px !important;
  z-index: 500;
}
.navbar img {
  width: 160px;
}
.navbar .nav-link {
  color: black;
  font-size: 18px;
  padding: 20px !important;
  transition: 0.2s ease-in-out;
}
.navbar .nav-link:hover {
  background-color: #37b772;
  color: white !important;
}
.navbar-nav .nav-link.active {
  color: #37b772 !important;
}
.navbar-nav .nav-link.active:hover {
  color: white !important;
}
.navbar .form-control {
  width: 300px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.form-control:focus {
  box-shadow: none !important;
  border: #37b772 1px solid !important;
}
#btn-search-nav {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

@media (max-width: 1405px) {
  .navbar img {
    width: 110px;
  }
  .navbar .nav-link {
    color: black;
    font-size: 14px;
    padding: 20px !important;
    transition: 0.2s ease-in-out;
  }
  .navbar .form-control {
    width: 200px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}
@media (max-width: 986px) {
  .navbar .btn-outline-success {
    margin: 0px !important;
  }
  .navbar .form-control {
    width: 400px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}
/*--------------------------HERO-SECTION---------------------------- */
.hero_section {
  margin-top: 68px;
  background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/1b6990afe0934244dda2c9aeed5de8d9-1674663021930/bg-hero-6-1792-x1.png");
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section h1 {
  color: white;
  font-size: 42px;
}
.hero_section span {
  color: var(--success-color);
}
.hero_section .input-group {
  height: 50px;
}
.hero_section .btn-success {
  width: 110px;
  font-size: 18px !important;
  padding: -1px;
  margin: 0;
}
.hero_section .input-group {
  position: relative;
}
.hero_section input {
  padding-left: 30px;
}
.hero_section i {
  position: absolute;
  color: rgba(102, 102, 102, 0.835);
  top: 15px;
  left: 8px;
  z-index: 10;
  font-size: 20px;
}
@media (max-width: 686px) {
  .hero_section {
    background-position: left;
  }
  .hero_section h1 {
    color: white;
    font-size: 52px;
  }
}
/*---------------------------------End Hero Section--------------------------------*/
/*---------------------------------Most Wanted Services-SECTION--------------------------------*/
.services-home {
  margin-top: 30px;
  margin-bottom: 30px;
}
.services-home h2 {
  margin-bottom: 30px;
}
.services-home .cards {
  position: relative;
  z-index: -1;
  margin-left: 12px;
  margin-right: 12px;
  height: 220px;
}
.services-home .cards .overlay_cards {
  position: absolute;
  top: 0;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.295);
  height: 100%;
  width: 100% !important;
}
.left_arrow {
  position: absolute;
  top: 40%;
  left: -4px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #2ca364;
  background-color: aliceblue;
  border: 1px solid #2ca364;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  z-index: 1;
  font-size: 22px;
  cursor: pointer;
}
.right_arrow {
  position: absolute;
  top: 40%;
  right: -4px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #2ca364;
  background-color: aliceblue;
  border: 1px solid #2ca364;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  z-index: 1;
  font-size: 22px;
  cursor: pointer;
}
.services-home .cards img {
  height: 100%;
  width: 100%;
}
/*---------------------------------End Wanted Services-SECTION--------------------------------*/
/*---------------------------------About--------------------------------*/
.about {
  background-color: #f1fdf7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about span i {
  color: #2ca364 !important;
  border: 1px solid black;
  margin-right: 10px;
  font-weight: 600;
  border-radius: 50% !important;
}
.about p {
  margin-left: 32px !important;
}
.about iframe {
  width: 100% !important;
  height: 100% !important;
}
/*---------------------------------End About--------------------------------*/
/*---------------------------------About-Help--------------------------------*/
.about_help {
  padding-top: 30px;
  padding-bottom: 30px;
}
.about_help h5 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
/*---------------------------------End About-Help--------------------------------*/
/*---------------------------------categories_home--------------------------------*/
.categories_home {
  background-color: #f1fdf7;
  padding-top: 30px;
  padding-bottom: 30px;
}
.categories_home .cards {
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.categories_home .cards:hover p {
  color: #2ca364;
  font-weight: 500;
}
.categories_home img {
  width: 60px;
}
.categories_home .line {
  height: 1px;
  width: 30px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #383838;
  transition: 0.4s ease-in-out;
}
.categories_home .cards:hover .line {
  background-color: #2ca364;
  width: 60px;
}
/*---------------------------------End Categories_home--------------------------------*/
/*---------------------------------faq--------------------------------*/
.faq .container {
  margin: 0 auto;
  padding: 40px;
}

.faq .accordion-item {
  margin-bottom: 20px;
}

.faq .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.faq .accordion-header:hover {
  background-color: #2ca364;
  color: white;
}

.faq .accordion-header h2 {
  font-size: 18px;
  font-weight: normal;
}

.faq .accordion-header .icon {
  font-size: 24px;
  transition: transform 0.2s;
}

.faq .accordion-content {
  background-color: #fff;
  padding: 20px;
  display: none;
}

.faq .accordion-item.active .accordion-header .icon {
  transform: rotate(45deg);
}

.faq .accordion-item.active .accordion-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .faq .accordion-header h2 {
    font-size: 16px;
  }
}
/*---------------------------------End faq--------------------------------*/
/*---------------------------------Join_us--------------------------------*/
.join_us {
  padding-top: 20px;
  padding-bottom: 20px;
}
.join_us .container {
  background: url("/assets/imgs/joinus.webp");
  height: 400px;
  color: white;
  padding-left: 40px;
  width: 100% !important;
  background-size: cover;
}
.join_us .cards {
  margin-top: 140px;
}
.join_us .cards h3 {
  font-size: 42px;
}
/*---------------------------------End join_us--------------------------------*/
/*---------------------------------Contact--------------------------------*/
.contact {
  margin-top: 200px;
  margin-bottom: 100px;
}
.contact .box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact .col-lg-4 {
  padding: 40px;
  background-color: #01d28e !important;
}
.contact .d-flex {
  margin-top: 50px;
}
.contact i {
  font-size: 28px !important;
  padding-right: 10px;
}
.contact span {
  font-weight: 600;
}
.contact input {
  border: none !important;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.396) !important;
  border-radius: 0px !important;
  transition: 0.2s ease-in-out !important;
}
.contact input:focus {
  border: none !important;
  border-bottom: 0.5px solid #01d28e !important;
}
.contact .button {
  display: inline-block;
  padding: 8px 20px;
  background-color: white;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
}

.contact .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: white;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.contact .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #01d28e;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.contact .button:hover {
  color: #ffffff;
  border: 1px solid #01d28e;
}

.contact .button:hover:before {
  top: -35%;
  background-color: #01d28e;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.contact .button:hover:after {
  top: -45%;
  background-color: #01d28e;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/*---------------------------------End contact--------------------------------*/
/*---------------------------------start Services--------------------------------*/
.services {
  margin-top: 95px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.services h2 {
  margin-bottom: 30px;
}
.services h5 {
  margin-bottom: 20px;
}
.services .line {
  background-color: #3838385c;
  height: 0.5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.services input {
  margin-top: 10px;
}
.services button {
  padding: 5px 30px;
  margin-top: 10px;
  border: 2px solid #01d28e;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #01d28e;
}

.services button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -52%) rotate(45deg);
  background: #01d28e;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.services button:hover::before {
  width: 105%;
}

.services button:hover {
  color: white;
}

.services .form {
  --input-bg: #fff;
  border: 1px solid var(--icon-change-color);

  --padding: 1.5em;
  --rotate: 80deg;

  --gap: 2em;

  --icon-change-color: #15a986;

  --height: 40px;

  width: 816px;
  margin-bottom: 20px;
  padding-inline-end: 1em;

  background: var(--input-bg);
  position: relative;
  border-radius: 4px;
}

.services .form label {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height);
}

.services .form input {
  width: 100%;
  padding-inline-start: calc(var(--padding) + var(--gap));
  outline: none;
  background: none;
  border: 0;
}

.services .form svg {
  color: #111;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  height: 15px;
}

.services .icon {
  position: absolute;
  left: var(--padding);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .swap-off {
  transform: rotate(-80deg);
  opacity: 0;
  visibility: hidden;
}

.services .close-btn {
  background: none;
  border: none;
  right: calc(var(--padding) - var(--gap));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.services .form input:focus ~ .icon {
  transform: rotate(var(--rotate)) scale(1.3);
}

.services .form input:focus ~ .icon .swap-off {
  opacity: 1;
  transform: rotate(-80deg);
  visibility: visible;
  color: var(--icon-change-color);
}

.services .form input:focus ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}

.services .form input:valid ~ .icon {
  transform: scale(1.3) rotate(var(--rotate));
}

.services .form input:valid ~ .icon .swap-off {
  opacity: 1;
  visibility: visible;
  color: var(--icon-change-color);
}

.services .form input:valid ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}
.right {
  padding: 20px;
}
.services .right button {
  width: 100px;
  height: 40px;
  margin: 0px;
  position: absolute;
  right: 0px;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  outline: none !important;
}
.services .card {
  padding: 30px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
}
.services .card:hover {
  background-color: #f1fdf7;
}
.services .card .up .left img {
  width: 300px !important;
  height: 200px !important;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.services .card .right img {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  margin-right: 10px;
}
.services .card .right i {
  float: right;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  color: #01d28e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.services .card .right i:hover {
  background-color: #01d28e;
  color: white;
}
.services .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.services .pagination a {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 4px;
  text-decoration: none;
  color: #01d28e;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.services .pagination a.active {
  background-color: #01d28e;
  color: #fff;
  border-color: white;
}

.services .pagination a.prev,
.services .pagination a.next {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.services .pagination a.prev:hover,
.services .pagination a.next:hover {
  background-color: #f2f2f2;
}

.services .pagination a.prev {
  margin-right: 16px;
}

.services .pagination a.next {
  margin-left: 16px;
}

@media (max-width: 1400px) {
  .services .form {
    width: 700px;
  }
}
@media (max-width: 1200px) {
  .services .form {
    width: auto;
  }
  .card .up {
    display: flex !important;
    flex-direction: column !important;
  }
  .services .card .up .left img {
    width: 100% !important;
  }
}
/*---------------------------------End Services--------------------------------*/
/*---------------------------------login--------------------------------*/
.login {
  margin-top: 95px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.login .cards {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login .cards .col-lg-7 {
  padding-top: 50px;
  padding: 20px;
}
.login form {
  margin-top: 20px;
}
.login h3 {
  font-size: 42px;
  color: #15a986;
}
.login input {
  height: 50px;
}
.login .button {
  display: inline-block;
  padding: 8px 20px;
  background-color: white;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
}

.login .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: white;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.login .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #01d28e;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.login .button:hover {
  color: #ffffff;
  border: 1px solid #01d28e;
}

.login .button:hover:before {
  top: -35%;
  background-color: #01d28e;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.login .button:hover:after {
  top: -45%;
  background-color: #01d28e;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.logo {
  width: 250px !important;
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 0px;
}
.login a {
  margin-top: 200px !important;
}
/*---------------------------------End-login--------------------------------*/
/*---------------------------------Start Services-Details--------------------------------*/
.services-details {
  margin-top: 96px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.services-details .up img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.services-details .up a {
  color: black;
  font-weight: 700;
  margin-right: 10px;
}
.services-details .gallery {
  margin: 0 auto;
  margin-top: 20px;
}

.services-details .thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.services-details .img-thumbnail {
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-right: 10px;
}

.services-details .carousel {
  position: relative;
  height: 400px;
  max-width: 720px !important;
  overflow: hidden;
}

.services-details .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px !important;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.services-details .slide.active {
  opacity: 1;
}

.services-details .img-slide {
  width: 720px;
  height: auto;
}

.services-details .prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.services-details .prev {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.services-details .next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.services-details .prev:hover,
.services-details .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.services-details ul li {
  list-style: square !important;
}
.services-details .col-lg-4 img {
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
.services-details .col-lg-4 .cards {
  border: 1px solid rgba(0, 0, 0, 0.228);
  border-radius: 10px;
  padding: 20px;
}
.services-details .about-seller img {
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
.services-details .about-seller .cards {
  padding: 10px;
  margin: 0px !important;
}
.services-details .about-seller {
  border: 1px solid rgba(0, 0, 0, 0.172);
  padding: 20px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .services-details .gallery {
    width: 100%;
  }
  .services-details .img-slide {
    object-position: left !important;
  }
}

/*---------------------------------End Services-Details--------------------------------*/
/*---------------------------------Start inscription--------------------------------*/
.inscription {
  margin-top: 95px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.inscription .cards {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inscription .button {
  display: inline-block;
  padding: 8px 20px;
  background-color: white;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
}

.inscription .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: white;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.inscription .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #01d28e;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.inscription .button:hover {
  color: #ffffff;
  border: 1px solid #01d28e;
}

.inscription .button:hover:before {
  top: -35%;
  background-color: #01d28e;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.inscription .button:hover:after {
  top: -45%;
  background-color: #01d28e;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/*---------------------------------End inscription--------------------------------*/
/*---------------------------------Start Favorite--------------------------------*/
.favorite {
  margin-top: 198px;
  margin-bottom: 200px;
}
.favorite img {
  width: 100px;
}
.favorite .row {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*---------------------------------End Favorite--------------------------------*/

/*---------------------------------Start Profile--------------------------------*/
.profile {
  margin-top: 98px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.profile .img-profile {
  width: 150px;
  border-radius: 50%;
}
.right {
  padding: 20px;
}
.profile .right button {
  width: 100px;
  height: 40px;
  margin: 0px;
  position: absolute;
  right: 0px;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  outline: none !important;
}
.profile .card {
  padding: 30px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
}
.profile .card:hover {
  background-color: #f1fdf7;
}
.profile .card .up .left img {
  width: 300px !important;
  height: 200px !important;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile .card .right img {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  margin-right: 10px;
}
.profile .card .right i {
  float: right;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  color: #01d28e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.profile .card .right i:hover {
  background-color: #01d28e;
  color: white;
}
.profile .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile .pagination a {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 4px;
  text-decoration: none;
  color: #01d28e;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile .pagination a.active {
  background-color: #01d28e;
  color: #fff;
  border-color: white;
}

.profile .pagination a.prev,
.profile .pagination a.next {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.profile .pagination a.prev:hover,
.profile .pagination a.next:hover {
  background-color: #f2f2f2;
}

.profile .pagination a.prev {
  margin-right: 16px;
}

.profile .pagination a.next {
  margin-left: 16px;
}
/*---------------------------------End Profile--------------------------------*/
/*---------------------------------Start editaccount--------------------------------*/
.editaccount {
  margin-top: 98px;
}
.editaccount .cards {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.editaccount .cards img {
  width: 200px;
  border-radius: 50%;
}
/*---------------------------------End editaccount--------------------------------*/

/*---------------------------------Footer--------------------------------*/
footer {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.134);
}
footer a {
  color: black;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}
footer a:hover {
  color: #01d28e;
}
footer li {
  margin-top: 10px !important;
}
footer img {
  width: 280px;
}
footer i {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 10px;
}

/*---------------------------------End-Footer--------------------------------*/
